.container {
    background-color: var(--color-one);
    border: none;
    color: white;
    height: 40px;
    text-transform: uppercase;
    letter-spacing: 0.2ex;
    font-size: 16px;
    transition: filter 0.15s;
}
.container:disabled {
    filter: grayscale(100%);
}