.container {

}
.head {
    color: #333;
    display: flex;
}
.back {
    display: flex;
    width: 60px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
    color: inherit;
}
.heading {
    font-size: 40px;
    margin: 0;
    padding: 14px 0px;
}
