.container {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

.item {
    min-height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 0.3ex;
    color: white;
}
.item:nth-child(1) {
    background-color: var(--color-one);
}
.item:nth-child(2) {
    background-color: var(--color-two);
}
.item:nth-child(3) {
    background-color: var(--color-three);
}
.item:nth-child(4) {
    background-color: var(--color-four);
}
.item:nth-child(5) {
    background-color: var(--color-five);
}
