.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.email,
.submit {
    width: 80%;
    box-sizing: border-box;
}
.email {
    height: 40px;
    font-size: 16px;
    margin-top: 20vh;
    border: none;
    padding: 10px;
}
