html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;

  --color-one: #87A0FF;
  --color-two: #7BE8BD;
  --color-three: #EAFF94;
  --color-four: #E8BE7B;
  --color-five: #FF6C76;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  width: 100%;
  max-height: 650px;
  max-width: 400px;
  overflow: auto;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(128, 128, 128, 0.2);
}
